@using P1.Models; 

@{
    ViewBag.Title = "Student List";
    var students = ViewBag.Students as List<data>;

}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>


<h2>Student List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Course</th>
            <th>City</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FName</td>
                <td>@student.LName</td>
                <td>@student.Course</td>
                <td>@student.City</td>
                <td>@student.Phone</td>
            </tr>
        }
    </tbody>
</table>