
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark d-flex flex-row">
        <div class="container flex-row align-items-center py-2">
            <a class="navbar-brand d-flex gap-2 flex-row align-items-center" href="/">
                <img src="~/businessman.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
                <h3 class="fw-bold text-white-50">E.R.M.S</h3>
            </a>
            <div class="d-flex gap-2">
                <p style="color: #fff; font-size: 2rem; font-family:'Cascadia Mono',sans-serif; " id="Clock" class="clock"></p>
                <p style="color: #fff; font-size: 2rem; font-family:'Cascadia Mono',sans-serif; ">,@DateTime.Today.DayOfWeek</p>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="clock">&copy; @DateTime.Now.Year - My ASP. NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
